@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html,
body {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #000;
  color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #838080;
  border-radius: 10px;
  height: 2px;
  width: 0.1px;
}

::-webkit-scrollbar-track {
  background-color: #131313;
}

body {
  font-family: "kanit", sans-serif;
  display: flex;
  flex-direction: column;
  background: #dcdde1;
}

nav {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  background: #222f3e;
  color: #c8d6e5;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: #c8d6e5;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  transform: translateX(-10%);
}
nav ul li a {
  margin: 10px;
  padding: 1vw;
  text-decoration: none;
  background-color: transparent;
  border-radius: 10px;
  color: #f4fdfa;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  border: #2594a7 solid 1px;
  transition: 0.6s ease-in-out;
}
nav ul li a:hover {
  box-shadow: rgb(0, 0, 0) 0px 3px 8px;
  background-color: rgba(60, 217, 252, 0.0980392157);
}
nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 80px;
  width: 60px;
  height: 100vh;
  background: #01a3a4;
  overflow: scroll;
  transition: 600ms;
  margin: 0;
  padding: 0;
  font-size: 20px;
  border-top-right-radius: 10px;
  z-index: 10;
}
.sidebar .lock1 {
  display: block;
  position: relative;
  left: 21vw;
  width: 100px;
  height: 40px;
}
.sidebar .lock1 svg {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  transition: 500ms;
}
.sidebar .lock1 svg path {
  stroke: #965022;
}
.sidebar .lock1 svg:hover {
  opacity: 1;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li .logo2:hover {
  background-color: #000;
}
.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.3s;
}
.sidebar ul li .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 1.5em;
  color: #000;
}
.sidebar ul li .icon .profile {
  position: relative;
}
.sidebar ul li .icon .profile svg {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translateY(-30px) translateX(-70px);
}
.sidebar ul li .icon .profile svg path {
  fill: #000;
  transition: 0.2s ease-in;
}
.sidebar ul li .icon svg {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translateX(-40px);
}
.sidebar ul li .icon svg path {
  stroke: #000;
  transition: 0.2s ease-in;
}
.sidebar ul li .text {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.sidebar::-webkit-scrollbar {
  opacity: 0;
  width: 0.0001px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.sidebar:hover {
  width: 350px;
}
.sidebar:hover ul li:hover {
  background-color: #000;
}
.sidebar:hover ul li:hover a {
  transform: translateX(20px);
}
.sidebar:hover ul li:hover img {
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.sidebar:hover ul li:hover .profile {
  position: relative;
}
.sidebar:hover ul li:hover .profile svg {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translateY(-30px) translateX(-70px);
}
.sidebar:hover ul li:hover .profile svg path {
  fill: #fff;
  transition: 0.2s ease-in;
}
.sidebar:hover ul li:hover svg {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.sidebar:hover ul li:hover svg path {
  stroke: white;
}
.sidebar:hover ul li:hover .text {
  color: #A5C9CA;
}

#bottom {
  position: relative;
  transform: translateY(-30%);
}

.list.active {
  background-color: #000;
}
.list.active a {
  transform: translateX(5px);
}
.list.active a .text {
  color: #4F8A8B;
}
.list.active a .icon .profile {
  position: relative;
}
.list.active a .icon .profile svg {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translateY(-30px) translateX(-70px);
}
.list.active a .icon .profile svg path {
  fill: #fff;
  transition: 0.2s ease-in;
}
.list.active a .icon svg {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.list.active a .icon svg path {
  stroke: #fff;
}

.sidebar:hover:not(.blocked),
.sidebar.blocked {
  width: 350px; /* Largeur lorsque la sidebar est en hover ou bloquée */
}

.cont1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 10px;
  height: 510px;
  width: 1310px;
  transition: 1s ease-in-out;
}
.cont1 h1 {
  grid-column: 3;
  grid-row: 1;
  border: #2f9e44 solid 3px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  height: 35px;
}
.cont1 .Name {
  position: relative;
  left: 10%;
  font-size: 2em;
  font-style: italic;
  grid-column: 1;
  grid-row: 2;
}
.cont1 .Name1 {
  position: relative;
  left: 10%;
  top: 50%;
  font-size: 2em;
  font-style: italic;
  grid-column: 1;
  grid-row: 2;
}
.cont1 .Name1 input {
  width: 300px;
  height: 30px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #2f9e44;
  border-radius: 10px;
}
.cont1 .date {
  font-size: 2em;
  font-style: italic;
  grid-column: 3;
  grid-row: 2;
}
.cont1 .date1 {
  position: relative;
  top: 50%;
  font-size: 2em;
  font-style: italic;
  grid-column: 3;
  grid-row: 2;
}
.cont1 .date1 input {
  width: 300px;
  height: 30px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #b50d3d;
  border-radius: 10px;
}
.cont1 .num {
  position: relative;
  left: 30%;
  font-size: 2em;
  font-style: italic;
  grid-column: 4;
  grid-row: 2;
}
.cont1 .num1 {
  position: relative;
  left: 30%;
  top: 50%;
  font-size: 2em;
  font-style: italic;
  grid-column: 4;
  grid-row: 2;
}
.cont1 .num1 input {
  width: 300px;
  height: 30px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #2f9e44;
  border-radius: 10px;
}
.cont1 .total {
  position: relative;
  left: 92%;
  top: 130%;
  font-size: 2em;
  font-style: italic;
  grid-column: 4;
  grid-row: 4;
}
.cont1 .total input {
  width: 160px;
  height: 30px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #2f9e44;
  border-radius: 10px;
}
.cont1 .total1 {
  position: relative;
  top: 133%;
  left: 130%;
  font-size: 2em;
  font-style: italic;
  grid-column: 3;
  grid-row: 4;
}
.cont1 .td {
  position: absolute;
  top: 30%;
  left: 93%;
  font-size: 2em;
  font-style: italic;
}
.cont1 .td input {
  width: 60px;
  height: 30px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #3c2f9e;
  border-radius: 10px;
}
.cont1 .rest {
  position: absolute;
  top: 36%;
  left: 93%;
  font-size: 2em;
  font-style: italic;
}
.cont1 .rest button {
  width: 70px;
  font-size: 0.5em;
  font-weight: bold;
  height: 30px;
  background-color: transparent;
  border: 3px solid #9e2f2f;
  color: #9e2f2f;
  border-radius: 10px;
  outline: none;
  transition: 0.5s;
}
.cont1 .rest button:hover {
  background-color: rgba(158, 47, 47, 0.2);
}
.cont1 .vendre {
  position: absolute;
  top: 87%;
  left: 2%;
  font-size: 2em;
  font-style: italic;
}
.cont1 .vendre input {
  width: 160px;
  height: 60px;
  font-size: 1em;
  background-color: transparent;
  border: 3px solid #0c8599;
  border-radius: 10px;
  transition: 0.5s;
}
.cont1 .vendre input:hover {
  background-color: #0c8599;
}
.cont1 .content-table {
  display: block;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1300px;
  max-height: 200px;
  border-radius: 5px 5px 0 0;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 200px;
  left: 0.1%;
}
.cont1 .content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.cont1 .content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.cont1 .content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.cont1 .content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table th,
.content-table td {
  padding: 20px 78px;
}

.lien-d {
  text-decoration: none;
  position: absolute;
  left: 90%;
  margin: 10px;
  padding: 5px;
  border: #009879 solid 3px;
  color: red;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  transition: 500ms;
}
.lien-d:hover {
  background-color: rgba(0, 152, 121, 0.3);
}
.lien-ret {
  position: absolute;
  top: 3%;
  left: 2%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 60px;
  width: 160px;
  border: #000 solid 3px;
  border-radius: 10px;
  transform: scale(0.8);
  transition: 0.5s;
  z-index: 20;
}
.lien-ret svg {
  height: 60px;
  width: 60px;
  transform: translateX(30px);
}
.lien-ret:hover {
  transform: scale(1);
}
.lien-ret:hover svg {
  animation: ani 1.3s forwards;
}

@keyframes ani {
  0% {
    opacity: 0.1;
    transform: translateX(0px);
  }
  20% {
    opacity: 0;
    transform: translateX(-60px);
  }
  40% {
    opacity: 0;
    transform: translateX(162px);
  }
  60% {
    opacity: 1;
    transform: translateX(-5px);
  }
  80% {
    opacity: 1;
    transform: translateX(100px);
  }
}/*# sourceMappingURL=style.css.map */